body {
    margin: 0;
}


.container1 {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border-bottom: 2px solid black;
    padding-left: 7px;
    padding-right: 7px;
}

.container2 {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 25px;
    border-bottom: 2px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%; 
}

.container3 {
    background-color: thistle;
    display: inline-block;
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 7px;
}

.container4 {
    background-color: burlywood;
    padding-left: 7px;
    padding-bottom: 7px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.container5 {
    text-align: center;
}